
@media only screen and (max-width: 1250px) {
    .google-map-code iframe {
      width: 400px;
      height: 300px;
    }
}

@media only screen and (max-width: 650px) {
    .google-map-code iframe {
        width: 80%;
        height: 150px;
      }
}