
@media only screen and (max-width: 1250px) {
    .google-map-code iframe {
      width: 400px;
      height: 300px;
    }
}

@media only screen and (max-width: 500px) {
    .google-map-code iframe {
        width: 300px;
        height: 250px;
    }
}

@media only screen and (max-width: 400px) {
    .google-map-code iframe {
        width: 250px;
        height: 200px;
    }
}

@media only screen and (min-width: 3500px) {
    .google-map-code iframe {
        width: 650px;
        height: 500px;
    }
}


