:root {
    --main-color: #e3cbb6;
    --second-color: #b9a89a;
    --third-color: #524438;
    --title-font: "Playwrite BE VLG", cursive;
    --main-font: "Noto Sans SC", sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
