

#landingPage {
    height: 400px;
    background-color: var(--main-color);
    width: 100%;
    position: relative;
}

#landingPage::after {
    content: "";
    width: 100%;
    height: 350px;
    background-color: var(--main-color);
    transform: skewY(-10deg);
    position: absolute;
    top: 220px;
}
