
/* NABÍDKA PAGE - grid */
#nabidka {
    position: relative;
    height: 1200px;
    background-color: var(--third-color);
    width: 65%;
    display: grid;
    grid-template-areas:
    "nadpis nadpis nadpis nadpis"
    "kava kava caj caj"
    "kava kava caj caj"
    "kava kava caj caj"
    "kava kava limo limo"
    "dort dort limo limo"
    "dort dort limo limo"
    "prostor prostor prostor prostor";
}

#nadpis h3 {
    font-size: 30px;
}

/* Přiřazení grid areas */
#nadpis {
    margin-top: 250px;
    margin-right: 20px;
    grid-area: nadpis;
    display: flex;
    justify-content: end;
    align-items: end;
    font-family: var(--main-font);
}

#kava {
    margin-top: 60px;
    grid-area: kava;
}

#caj {
    margin-top: 60px;
    grid-area: caj;
}

#limo {
    grid-area: limo;
}

#dort {
    grid-area: dort;
}

#prostor {
    grid-area: prostor;
    height: 100px;
}

/* Styling každé kategorie menu */
.menu {
    padding-top: 20px;
    border: 1px solid var(--main-color);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    font-family: var(--main-font);
}

.menu h4 {
    margin-bottom: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    padding: 5px;
}

/* Styling menu do 2 sloupců */
.ceny {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.left {
    width: 70%;
    text-align: left;
}

.right {
    width: 30%;
    text-align: right;
}

/* Shaking effect na obrázcích */
.shake:hover {
    cursor: pointer;
}

