.hamburger-menu {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 1;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu-toggle {
    cursor: pointer;
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 8px) scaleX(1.2);
  }
  
  .menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -8px) scaleX(1.2);
  }
  
  .nav-menu {
    border-radius: 10px;
    display: none;
    flex-direction: column;
    top: 50px;
    position: absolute;
    background-color: white;
    width: 100%;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .nav-menu.open {
    display: flex;
  }
  
  .nav-menu a {
    padding: 10px 0;
    text-decoration: none;
    color: black;
  }
  
  .nav-menu a:hover {
    text-decoration: underline;
  }