@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
  }
  
  .shake:hover {
    animation: shake 0.5s infinite;
  }

@media (max-width: 1700px) {
    .beans {
        left: 60% !important;
    }
}

@media (max-width: 1000px) {
  .beans {
      left: 50% !important;
  }
}